*{
  margin: 0px;
  padding: 0px;
}

#editor {
  display: block;
  width: 50vw;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

#preview {
  width: 70vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: 0.5px solid grey;
  padding:30px;
}